$bg-color: rgb(0, 0, 0, 0.65);

.main {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav section aside'
    'footer footer footer';
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 5px;
  height: 100vh;
  color: white;
  text-align: center;
}

header {
  background: $bg-color;
  grid-area: header;
}

nav {
  background: $bg-color;
  grid-area: nav;
}

section {
  background: $bg-color;
  grid-area: section;
}

aside {
  background: $bg-color;
  grid-area: aside;
}

footer {
  background: $bg-color;
  grid-area: footer;
}

header,
nav,
section,
aside,
footer {
  padding: 5px;
}
